<style type="text/css" media="screen">
  .image {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15sdeg);
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    margin-bottom: 50px;
  }

  .image:hover {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  .progress {
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
  }

  .progress-value {
    color: black;
    text-align: right;
    animation: load 3s normal forwards;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
  }

  @keyframes load {
    0% { width: 0; }
    100% { width: {{ section.progress.percent }}%; }
  }
</style>

<section class="block block-hero-2" {% if section.background_image %}
  style="background-image: url('{{ section.background_image | relative_url }}')" {% endif %} id="{{ section.id }}">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h1><span class="light">{{ section.headline }}</span></h1>
        <p>{{ section.content }}</p>
        {% if section.cta and section.cta.enabled == true %}
        <a class="button primary inverted" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
        {% endif %}
      </div>
      <div class="column media">
        <img src="{{ section.image.image | relative_url }}" alt="{{ section.image.alt_text }}" class="image">
      </div>
    </div>
  </div>
  {% if section.progress %}
  <div class="progress">
    <div class="progress-value"></div>
  </div>
  <br />
  {{ section.progress.message }}
  {% endif %}
</section>