<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>

<!-- Leaflet Vector Markers -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/leaflet-vector-markers.css">
<script src="assets/leaflet-vector-markers.js"></script>

<!-- Leaflet Locate -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>

{% if section.media_alignment and section.media_alignment == "Left" %}
{% include block-leaflet-2.html %}
{% else %}

<section class="block block-feature-1" id="{{ section.id }}">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h2><span class="light">{{ section.headline }}</span></h2>
        <p>{{ section.content }}</p>
      </div>
      <div class="column media">
        <div id="{{ section.id }}-map" style="height: 800px;"></div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<script>
  var map = L.map('{{ section.id }}-map').setView([50.50, 9.10], 8);
  L.tileLayer('{{ section.tilesUrl }}', { attribution: '{{ section.attribution }}', }).addTo(map);
  var locator = L.control.locate({ locateOptions: { maxZoom: 9 } }).addTo(map);
  // locator.start();
  var red = L.VectorMarkers.icon({ icon: 'circle', markerColor: '#e94854', prefix: 'fa' });
  var grey = L.VectorMarkers.icon({ icon: 'circle', markerColor: '#c0c0c0', prefix: 'fa' });

  {% for m in section.markers %}
  L.marker([{{ m.lat }}, {{ m.lon }}], { icon: {% if m.style %} {{ m.style }} {% else %} grey {% endif %} }).addTo(map).bindPopup("{{ m.text }}");
  {% endfor %}

</script>