<style>
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

{% if section.media_alignment and section.media_alignment == "Left" %}
{% include block-iframe-2.html %}
{% else %}
<section class="block block-feature-1" id="{{ section.id }}">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h2><span class="light">{{ section.headline }}</span></h2>
        <p>{{ section.content }}</p>
      </div>
      <div class="column media">
        <div class="embed-container">
          {{ section.iframe }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}