<style type="text/css" media="screen">
  .image {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
  }

  .image:hover {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
  }
</style>

<section class="block block-hero-2" {% if section.background_image %}
  style="background-image: url('{{ section.background_image | relative_url }}')" {% endif %} id="{{ section.id }}">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h1><span class="light">{{ section.headline }}</span></h1>
        <p>{{ section.content }}</p>
        {% if section.cta and section.cta.enabled == true %}
        <a class="button primary inverted" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
        {% endif %}
      </div>
      <div class="column media">
        <img src="{{ section.image.image | relative_url }}" alt="{{ section.image.alt_text }}" class="image">
      </div>
    </div>
  </div>
</section>